<h3 style="margin-bottom: 50px; text-align: center">Add protein classification</h3>
<div class = "container">
  <form #createNewProteinClassificationForm="ngForm" (submit)="createProteinClassification(createNewProteinClassificationForm)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="prosite_ID"><b>Prosite ID</b><span class="required">*</span></label>
        <input type="text" class="form-control mb-2" id="prosite_ID" name="prosite_ID" maxlength="20" required ngModel>
      </div>
      <div class="form-group col-md-6">
        <label for="family"><b>Family</b><span class="required">*</span></label>
        <input type="text" class="form-control" id="family" name="family" maxlength="50" required ngModel>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="subfamily"><b>Subfamily</b></label>
        <input type="text" class="form-control" id="subfamily" name="subfamily" maxlength="30" ngModel>
      </div>
    </div>
    <p aria-hidden="true" id="required-description">
      <span class="required">*</span><i>Required field</i>
    </p>
    <button class="btn-lg" [disabled]="!createNewProteinClassificationForm.valid">Submit</button>
  </form>
</div>
